@font-face
{
	font-family: sans-serif;
	src:url(res:///opt/sony/ebook/FONT/tt0003m_.ttf);
}
@font-face
{
	font-family: serif;
	src:url(res:///opt/sony/ebook/FONT/tt0011m_.ttf);
}
@font-face
{
	font-family: monospace;
	src:url(res:///opt/sony/ebook/FONT/tt0419m_.ttf);
}
body {
	margin: 5px;
}
p {
	margin: 0;
	text-indent: 1.5em;
	text-align: justify;
}
h1,h2,h3,h4,h5,h6
{
	text-align:center;
	page-break-after: avoid;
	page-break-inside: avoid;
}
h2
{
	font-style: italic;
	font-weight: bold;
	text-indent: 0px;
	margin: 0.5em 2em;
}
a {
	vertical-align: super;
	line-height: 0.1;
	font-size: 0.7em;
}
div.citation
{
	font-style: italic;
	margin: 1em 0px 1em 2em;
	text-indent: 0px;
}
div.poem {
	margin: 0.5em 0px 0.5em 2em;
}
div.stanza {
	page-break-inside: avoid;
	margin: 0.5em 0px;
}
p.v {
	padding-left: 1em;
	text-indent: -1em;
	margin: 0px;
}
p.empty-line {
	height: 1.5em;
	margin: 0px;
}
.section2 h1 {
	page-break-after: avoid;
	page-break-inside: avoid;
	font-weight: bold;
	margin: 1em 0px 0.5em 1.5em;
	font-size: 1.3em;
}
.section2 h2 {
	page-break-after: avoid;
	page-break-inside: avoid;
	font-weight: bold;
	margin: 1em 0px 0.5em 1.5em;
	font-size: 1.2em;
}
.section3 h1,
.section4 h1,
.section5 h1,
.section6 h1
{
	page-break-after: avoid;
	page-break-inside: avoid;
	font-weight: bold;
	margin: 1em 0px 0.5em 1.923em;
	font-size: 1.1em;
}
.section3 h2,
.section4 h2,
.section5 h2,
.section6 h2
{
	page-break-after: avoid;
	page-break-inside: avoid;
	font-weight: bold;
	margin: 1em 0 0.5em 2em;
	font-size: 1em;
}
div.epigraph
{
	font-style: italic;
	page-break-inside:avoid;
	margin: 0.5em 0;
	margin-bottom: 1em;	
	font-size:0.9em;
}
div.epigraph .text_author
{
	margin-left: 1em;
	font-size:0.85em;
	margin: 0.6em 0;
	margin-left: 2em;	
}
div.image, div.image p
{
	padding: 3px;
	text-align: center;
}
.body_notes .section1 h1,
.body_notes .section2 h1,
.body_notes .section3 h1,
.body_notes .section4 h1,
.body_comments .section1 h1,
.body_comments .section2 h1,
.body_comments .section3 h1,
.body_comments .section4 h1
{
	font-size: 1.1em;
}
table {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 0.5em;
	font-size: 0.8em;
}
th {
	border: 2px solid black;
	background-color: #CEE;
	font-weight: bold;
	padding: 0.3em;
	text-align: center;
}
td {
	border: 1px solid black;
	padding: 0.3em;
}
.emphasis, em {
	font-weight: bold;
}
