div, div[class], p, p[class],  html, span, ol, ul, li, table, td, th, TheAntiquaB-W5Plain_95 {font-size: placeholder !important;} /* MARKER MFONTSIZE 0*/
div, div[class], p, p[class], html, span, ol, ul, li, table, td, th, TheAntiquaB-W5Plain_95  {line-height: placeholder !important} /* MARKER MLINEHEIGHT 1*/
@page, body, div, p, html, span, table, TheAntiquaB-W5Plain_95  {margin: placeholder !important;} /* MARKER MMARGIN 2*/
div, p, html, span, TheAntiquaB-W5Plain_95 {text-align: placeholder !important} /* MARKER MALIGN 3*/
div, div[class] ,p, p[class], html, span, TheAntiquaB-W5Plain_95  {text-indent: placeholder !important} /* MARKER MTEXTINDENT 4*/
@page, body, div, p, html, span, TheAntiquaB-W5Plain_95  {padding: placeholder !important;} /* MARKER MPADDING 5*/
div, p, html, span, ol, ul, li, table, td, th, TheAntiquaB-W5Plain_95, body.calibre, body.calibre1, body.calibre2, body.calibre3, body.book, .mainBody {font-family: serif !important;} /* 6*/ 
#
#
#
#Instruction: feel free to add/remove CSS-tags. Do not change line-numbers!! Use Unix-style LF only!!
#Fontsize (Line 1)
#Lineheight (Line 2)
#Page-Margins (Line 3)
#Text-Allign (Line 4)
#Indent (Line 5)
#Padding (Line 6)
#Serif Fonts (Line 7)